/* base.css */
body {
font-family:Arial, Helvetica, sans-serif;
font-size:small;
}
h1 {
font-size:x-large;
text-align:center;
vertical-align:middle;
margin:auto;
}

h2 {
font-size:medium;
}

h3 {
font-weight:bold;
color:maroon;
}

h4 {
font-weight:bold;
color:maroon;
margin-left:15px;
margin-right:15px;
margin-bottom:15px;
}

h5 {
font-weight:bold;
}

p {
margin-bottom:15px;
}

a, a:visited {
color:maroon;
text-decoration:underline;
}

a:hover {
color:#333333;
}

hr {
margin-left:2%;
margin-right:2%;
}

figure {
display:block;
}

figure img {
display:block;
margin:0 auto;
border:1px solid lightgray;
}

figure figcaption {
display:block;
font-size:x-small;
margin:0 auto;
}

.clearfix:after {
content:"";
display:block;
height:0;
clear:both;
visibility:hidden;
}

.centered {
margin:0 auto;
}

.columngroup:after {
content:"";
display:block;
height:0;
clear:both;
visibility:hidden;
}

.columntable {
display:table;
}

.twocolumn, .threecolumn, .fourcolumn, .fivecolumn {
float:left;
}
.twocolumnimage, .threecolumnimage, .fourcolumnimage, .fivecolumnimage {
float:left;
margin:0 auto;
}
.twocolumncell, .threecolumncell, .fourcolumncell, .fivecolumncell {
display:table-cell;
}

.twocolumn, 	.twocolumncell, 	.twocolumnimage {
width:50%;
}
.threecolumn, 	.threecolumncell, 	.threecolumnimage {
width:33.3333%;
}
.fourcolumn, 	.fourcolumncell, 	.fourcolumnimage {
width:25%;
}
.fivecolumn, 	.fivecolumncell, 	.fivecolumnimage {
width:20%;
}

.twocolumnimage {
width:470px;
}
.threecolumnimage {
width:312px;
}
.fourcolumnimage {
width:220px;
}
.fivecolumnimage{
width:180;
}

.list, .fancylist {
list-style-type: none;
font-size:small;
margin-left:15px;
margin-bottom:15px;
}

.fancylist {
list-style-type:circle;
}

.linklist {
list-style-type:none;
font-size:small;
margin-bottom:10px;
}

.linklist li {
margin-left:5px;
}

.description {
margin-left:15px;
margin-right:15px;
}

#body {
margin-left:auto;
margin-right:auto;
width:960px;
background-image:url('/background.jpg');
background-attachment:fixed;
font-family:Arial, Helvetica, sans-serif;
border:3px solid black;
margin-top:8px;
}

#header {
position:relative;
}

#logo {
position:relative;
height:100px;
background-color:white;
padding:10px;
}

.sublogo img {
border:none;
}

.subtitle h1 {
text-align:left;
}

#nav {
position:relative;
display:block;
height:52px;
border-bottom:2px solid white;
overflow:hidden;
}

/* Experimental - Non-image-based navigation buttons
.nav_button {
position:relative;
display:box;
height:52px;
background-color:gray;
text-align:center;
vertical-align:middle;
}

.nav_button:hover {
background-color:maroon;
}

#about-us { width:126px; }
#strategic-sourcing { width:160px; }
#government-projects { width:171px; }
#commercial-projects { width:171px; }
#information-technology { width:183px; }
#locations { width:149px; }
*/

#nav div {
float:left;
}

.nav_button {
height:52px;
width:0px;
background-image:url('nav.png');
background-repeat:no-repeat;
}

#about-us img {
width:82px;
background-position:0px 0px;
}
#about-us img:hover {
background-position:0px -52px;
}

#strategic-sourcing img {
width:142px;
background-position:-82px 0px;
}
#strategic-sourcing img:hover {
background-position:-82px -52px;
}

#government-projects img {
width:160px;
background-position:-224px 0px;
}
#government-projects img:hover {
background-position:-224px -52px;
}

#commercial-projects img {
width:155px;
background-position:-384px 0px;
}
#commercial-projects img:hover {
background-position:-384px -52px;
}

#information-technology img {
width:176px;
background-position:-539px 0px;
}
#information-technology img:hover {
background-position:-539px -52px;
}

#locations img {
width:84px;
background-position:-715px 0px;
}
#locations img:hover {
background-position:-715px -52px;
}

#careers img {
width:73px;
background-position:-799px 0px;
}
#careers img:hover {
background-position:-799px -52px;
}

#contact-us img {
width:88px;
background-position:-872px 0px;
}
#contact-us img:hover {
background-position:-872px -52px;
}

#eyecandy {
position:relative;
height:200px;
border-bottom:2px solid #333333;
}

.subeyecandy {
position:relative;
height:200px;
margin-left:-10px;
margin-bottom:20px;
}

#content {
position:relative;
width:940px;
background-color:white;
padding-top:20px;
padding-bottom:20px;
padding-left:10px;
padding-right:10px;
}

#footer {
position:relative;
}

#footer_info {
position:relative;
text-align:right;
color:white;
background-color:#333333;
padding:1em;
font-size:small;
}

#footer_nav {
position:relative;
height:20px;
background-color:#CCCCCC;
border-top:4px;
border-bottom:4px;
border-color:#CCCCCC;
border-style:solid;
font-size:x-small;
font-weight:bold;
}

#footer_nav ul {
text-align:center;
}

#footer_nav li {
display:inline;
border-left:1px solid black;
padding-left:1em;
margin-left:1em;
}

#footer_nav li:first-child {
border-left:0;
padding-left:0;
margin-left:0;
}
/* END base.css */