<h2>Integrated Defense Acquisition &amp; Life Cycle Logistics Support</h2>

<p>Strike Group, LLC is proud to be a professional services provider as a prime contractor under the NAVSEA Seaport-enhanced (Seaport-e) contract. The Strike Group Seaport-e contract is <strong>N00178-14-D-7508</strong>. Strike Group has the capability to and established presence under the Seaport-e contract to provide services under task orders in the following zones:</p>
<ul class="fancylist">
	<li>Zone 1 – Northeast</li>
	<li>Zone 2 – National Capitol</li>
	<li>Zone 3 – Mid Atlantic</li>
	<li>Zone 4 – Gulf Coast</li>
	<li>Zone 5 – Midwest</li>
	<li>Zone 6 – Southwest</li>
</ul>

<p>Headquartered in Detroit Michigan, Strike Group is a Minority, Service Disabled, Veteran Owned Small Business certified as a HUBZone company and currently enrolled in the Small Business Administration’s 8(a) Business Development Program. Since our inception in 1998, Strike Group has taken great pride in providing the highest quality support and services to a wide variety of commercial, DoD, and government customers. The Strike Group Team has extensive logistical support experience through an extended logistical support network that provides world-wide logistical, programmatic and field service support (<a href="/Strike_Group_Seaport-e_web_-_SG_Past_Performance.pdf">Relevant Past Performance</a>). When choosing Strike Group you are getting a knowledgeable team with vast experience of providing world class logistical solutions in a variety of business environments. We specialize in the delivery of expert solutions focused on the following core capabilities:</p>

<h3>Logistical Support</h3>
<p>The Strike Group Team resources have the experience, education, training, and certification required to deliver expert life cycle logistics analysis and technical support (covering all eleven (11) logistics element areas) to achieve program goals leading to planned milestone and fielding decisions based on programmatic requirements. We provide the full spectrum of support including financial management, acquisition and programmatic, life cycle logistics analysis, technical support, task management and administrative support.</p>

<h3>Program Support</h3>
<p>The Strike Group Team possess the capabilities and experience in the development of capstone Acquisition Plans and processes in accordance with Joint Capabilities Integration and Development Systems (JCIDS). The Strike Group Team understands the criticality of the interface between engineering, logistics and the operating forces. We are able to structure our teams to lead and/or support a Program Management Office in all its required functions to deliver a robust product support package to satisfy the Warfighter’s sustainment requirements.</p>

<h3>Supply and Provisioning Support</h3>
<p>The Strike Group Team supply chain processes provide the opportunity to move to the next level, by leveraging the evolution of increasingly advanced software applications which more effectively address the mission critical business process components of supply chain planning such as supply chain/network design, network optimization, inventory optimization, operations planning and service parts planning.  Strike Group capabilities include:</p>
<ul class="fancylist">
	<li>Timely accurate inventory assessment of fielded systems. Our team has experience with web enabled inventory management systems to tag and inventory systems, system components and spares prior to fielding.</li>
	<li>Capturing FRACAS data, documenting results of Field User Evaluation (FUE) and Product Quality Deficiency Reports (PDQR) for systems, and providing results, open issues, deployed unit feedback, and notes to program offices.</li>
	<li><strong>Maintenance QA and Inspection activities</strong>, utilizing a just in time / just in sequence method to drive proactive problem resolution. This ensures efficient use of quality assurance resources to provide effective feedback. The Strike Group Team creates preventive maintenance (PM) schedules to provide regular systems and equipment operational checks.</li>
	<li>When necessary to fully support the customer, the Strike Group Team provides full-time and dedicated technicians in each location to provide effective <strong>Contractor Maintenance Teams (CMT)</strong> to accomplish operator and unit level maintenance. We feel that to have a dedicated person allows us to better serve the local customers’ needs.</li>
	<li><strong>Kitting, toolbox build-up and modification, and providing parts assembly support.</strong></li>
</ul>

<h3>Technical Training Support</h3>
<p>The Strike Group Team can provide or support Mobile Training Teams and has experience and capabilities in the preparation and maintenance of Training Equipment Sets. Our resources provide documentation support that includes developing repair manuals, maintenance manuals, user manuals, training curricula and other documents to support the warfighter and technical support community. Where required, our team develops materials that apply to multiple environments which the customer can leverage for future events.</p>
