<h2>Points of Contact</h2>

<div class="columngroup">
	<div class="twocolumn">
		<ul class="poc">
			<li><h3>Operations Manager</h3></li>
			<li><strong>Evan Plaice</strong></li>
			<li>2445 Torrejon Place</li>
			<li>Carlsbad, CA 92009</li>
			<li>Work: 760-763-7012</li>
			<li>Cell: 619-228-3150</li>
			<li><a href="mailto:evanplaice@gmail.com">evanplaice@gmail.com</a></li>
		</ul>
		<ul class="poc">
			<li><h3>Field Service Technician</h3></li>
			<li><strong>Evan Plaice</strong></li>
			<li>BLDG 201716T<</li>
			<li>12th St. Del Mar Area</li>
			<li>Camp Pendleton, CA 92055</li>
			<li>Work: 760-763-7012</li>
			<li>Cell: 619-228-3150</li>
			<li><a href="mailto:eplaice@usmc-comcam.com">eplaice@usmc-comcam.com</a></li>
		</ul>
	</div>
	<div class="twocolumn">
		<ul class="poc">
			<li><h3>Field Service Technician</h3></li>
			<li><strong>Evan Plaice</strong></li>
			<li>BLDG 201716T<</li>
			<li>12th St. Del Mar Area</li>
			<li>Camp Pendleton, CA 92055</li>
			<li>Work: 760-763-7012</li>
			<li>Cell: 619-228-3150</li>
			<li><a href="mailto:eplaice@usmc-comcam.com">eplaice@usmc-comcam.com</a></li>
		</ul>
		<ul class="poc">
			<li><h3>Operations Manager</h3></li>
			<li><strong>Evan Plaice</strong></li>
			<li>2445 Torrejon Place</li>
			<li>Carlsbad, CA 92009</li>
			<li>Work: 760-763-7012</li>
			<li>Cell: 619-228-3150</li>
			<li><a href="mailto:evanplaice@gmail.com">evanplaice@gmail.com</a></li>
		</ul>
	</div>
</div>