<h2>Seaport-e Points of Contact</h2>

<div class="columngroup">
	<!-- Left column -->
	<div class="twocolumn">
		<ul class="poc">
			<li><h3>Customer Satisfaction Contact</h3></li>
			<li><strong>Lane Coleman, President</strong></li>
			<li>Strike Group, LLC</li>
			<li>P.O. Box 21954</li>
			<li>Detroit, Michigan 48221</li>
			<li>Phone: 313-586-0003</li>
			<li>Email: <a href="mailto:lanec@strikegroup.org">lanec@strikegroup.org</a></li>
		</ul>
	</div>
	<!-- Right column -->
	<div class="twocolumn">
		<ul class="poc">
			<li><h3>Contract Contact</h3></li>
			<li><strong>Jeffrey Russell, Chief Operating Officer</strong></li>
			<li>Strike Group, LLC</li>
			<li>17290 River Ridge Blvd.</li>
			<li>Suite 303</li>
			<li>Woodbridge, VA 22191</li>
			<li>Phone: 703-291-0278</li>
			<li>Email: <a href="mailto:jeffrey.russell@strikegroup.org">jeffrey.russell@strikegroup.org</a></li>
		</ul>
	</div>
</div>
