<h2>Quality Assurance</h2>

<p>At Strike Group, quality means doing the right job, in the best way, on time, the first time. We
believe sustained quality in conducting project activities and a consistent approach to ensuring
quality performance are essential to our success and the success of our customers.
Quality standards are specified by our customers and can be generated internally or externally to
our organization. Every employee applies the actions necessary to assure that we meet this
commitment to our customer requirements.</p>
<p>The goal of our Quality Management Program is producing quality deliverables the first time
every time. That is not always possible so our program incorporates continuous improvement
that results in documented guides for all levels of performance. The Strike Group Team has
established, documented, implemented and will maintain a Quality Management Program and
continually improves its effectiveness with the requirements of ISO 9001 :2000.</p>
<div  style="margin-bottom:10px;"><strong>This is demonstrated by our commitment to:</strong></div>
<ul>
	<li>Identify the processes needed for the Quality Management Program and their application throughout the organization</li>
	<li>Determine the sequence and interaction of the processes</li>
	<li>Determine criteria and methods needed to ensure that both the operation and control of these processes are effective</li>
	<li>Ensure the availability of resources and information necessary to support the operation and monitoring of these processes</li>
	<li>Monitor, measure and analyze these processes</li>
	<li>Implement actions necessary to achieve planned results and continual improvement of these processes</li>
	<li>Sustainment of process changes and transfer of knowledge between project teams and process owners</li>
</ul>
<p>Our Quality Control Plan ensures that the Government receives the best product.</p>