<h2>The Strike Group Team</h2>

<ul class="teammember">
	<li><strong>Defense Associates, LLC (Black, SDVOSB)</strong></li>
	<li>17290 River Ridge Blvd., Suite 101</li>
	<li>Woodbridge, VA 22191-5169</li>
	<li class="underline">Functional Area(s)</li>
	<li><span>3.2</span>Engineering, Systems Engineering, and Process Engineering Support</li>
	<li><span>3.12</span>Information System (IS) Development, Information Assurance, and IT Support</li>
	<li><span>3.20</span>Program Support</li>
	<li><span>3.21</span>Functional and Administrative Support</li>
</ul>
<ul class="teammember">
	<li><strong>Conscious Security, Inc. (VOSB)</strong></li>
	<li>1000 Corporate Drive, Suite 119</li>
	<li>Stafford, VA 22554-4885</li>
	<li class="underline">Functional Area(s)</li>
	<li><span>3.2</span>Engineering, System Engineering and Process Engineering Support</li>
	<li><span>3.5</span>System Design Documentation and Technical Data Support</li>
	<li><span>3.6</span>Software Engineering, Development, Programming, and Network Support</li>
	<li><span>3.12</span>Information System (IS) Development, Information Assurance (IA), and Information</li>
</ul>
<ul class="teammember">
	<li><strong>Technology (IT) Support</strong></li>
	<li>3.18 Training Support</li>
	<li>SoBran, Inc. (Large Business)</li>
	<li>4401 Dayton-Xenia Road</li>
	<li>Dayton, OH 45432-1805</li>
	<li class="underline">Functional Area(s)</li>
	<li><span>3.2</span>Engineering, System Engineering and Process Engineering Support</li>
	<li><span>3.6</span>Software Engineering, Development, Programming, and Network Support</li>
	<li><span>3.16</span>Logistics Support</li>
	<li><span>3.17</span>Supply and Provisioning Support</li>
</ul>
<ul class="teammember">
	<li><strong>Multi Training Systems, LLC (Black, Woman-Owned SB, Minority Educational Institution)</strong></li>
	<li>26677 West 12 Mile Road, Suite 160</li>
	<li>Southfield, MI 48034-1514</li>
	<li class="underline">Functional Area(s)</li>
	<li><span>3.18</span> Training Support</li>
</ul>
<ul class="teammember">
	<li><strong>TCG Consulting, Inc. (Black, Woman (EDWOSB), SDVOSB, 8(a), DB E)</strong></li>
	<li>2221 Peachtree Road, Suite X22</li>
	<li>Atlanta, GA 30309-1106</li>
	<li class="underline">Functional Area(s)</li>
	<li><span>3.22</span>Public Affairs and Multimedia Support</li>
</ul>
<ul class="teammember">
	<li><strong>Aspire Consulting Services, LLC (Black, SDVOSB)</strong></li>
	<li>PO Box 6130</li>
	<li>9801 Apollo Drive</li>
	<li>Upper Marlboro, MD 20747-2862</li>
	<li class="underline">Functional Area(s)</li>
	<li><span>3.1</span>Research and Development Support</li>
	<li><span>3.3</span>Modeling, Simulation, Stimulation, and Analysis Support</li>
	<li><span>3.8</span>Human Factors, Performance, and Usability Engineering Support</li>
	<li><span>3.9</span>System Safety Engineering Support</li>
	<li><span>3.11</span>Quality Assurance (QA) Support</li>
	<li><span>3.l6</span>Logistics Support</li>
	<li><span>3.17</span>Supply and Provisioning Support</li>
	<li><span>3.18.1</span>Technical Training Support</li>
	<li><span>3.20</span>Program Support</li>
</ul>
<ul class="teammember">
	<li><strong>ChemicoMays, LLC (Black, VOSB)</strong></li>
	<li>25200 Telegraph Road, Suite 120</li>
	<li>Southfield, MI48033-7497</li>
	<li class="underline">Functional Area(s)</li>
	<li><span>3.16</span>Logistics Support</li>
	<li><span>3.17</span>Supply and Provisioning Support</li>
	<li><span>3.18</span>Training Support</li>
	<li><span>3.20</span> Program Support</li>
</ul>
<ul class="teammember">
	<li><strong>ARD Logistics, LLC (Black, Large Business)</strong></li>
	<li>3675 Crestwood Parkway, Suite 400</li>
	<li>Duluth, GA 30096-5054</li>
	<li class="underline">Functional Area(s)</li>
	<li><span>3.16</span>LogisticsSupport</li>
	<li><span>3.17</span>Supply and Provisioning Support</li>
	<li><span>3.20</span>Program Support</li>
</ul>