<h2>The Strike Group Team</h2>

<ul class="teammember">
	<li><strong>Defense Associates, LLC (Black, SDVOSB)</strong></li>
	<li>17949 Main Street #1041</li>
	<li>Dumfries, Virginia 22026</li>
	<li class="underline">Contact:</li>
	<li>Wendell L. Taylor, CMC</li>
	<li>571-931-7594</li>
	<li>wltaylor@defenseassoc.com</li>
	<li class="underline">Functional Area(s)</li>
	<li><span>3.2</span>Engineering, Systems Engineering, and Process Engineering Support</li>
	<li><span>3.12</span>Information System (IS) Development, Information Assurance, and IT Support</li>
	<li><span>3.20</span>Program Support</li>
	<li><span>3.21</span>Functional and Administrative Support</li>
	<li><a href="/DA_Capability_Brief_(Seaport-e)_May_2013.pdf">Capabilities</a></li>
	<li><a href="/Strike_Group_Seaport-e_web_-_DefAssoc_Past_Performance.pdf">Relevant Past Performance</a></li>
</ul>
<ul class="teammember">
	<li><strong>Conscious Security, Inc. (VOSB)</strong></li>
	<li>1000 Corporate Drive, Suite 119</li>
	<li>Stafford, VA 22554-4885</li>
	<li class="underline">Functional Area(s)</li>
	<li><span>3.2</span>Engineering, System Engineering and Process Engineering Support</li>
	<li><span>3.5</span>System Design Documentation and Technical Data Support</li>
	<li><span>3.6</span>Software Engineering, Development, Programming, and Network Support</li>
	<li><span>3.12</span>Information System (IS) Development, Information Assurance (IA), and Information</li>
	<li><a href="/Conscious_Security_Corp_Capabilities_2012.pdf">Capabilities</a></li>
	<li><a href="/Strike_Group_Seaport-e_web_-_Conscious_Past_Performance.pdf">Relevant Past Performance</a></li>
</ul>
<ul class="teammember">
	<li><strong>SoBran, Inc. (Large Business)</strong></li>
	<li>4401 Dayton-Xenia Road</li>
	<li>Dayton, OH 45432-1805</li>
	<li class="underline">Contact:</li>
	<li>Matt Sweatt</li>
	<li>703-352-9511</li>
	<li>msweatt@sobran-inc.com</li>
	<li class="underline">Functional Area(s)</li>
	<li><span>3.2</span>Engineering, System Engineering and Process Engineering Support</li>
	<li><span>3.6</span>Software Engineering, Development, Programming, and Network Support</li>
	<li><span>3.16</span>Logistics Support</li>
	<li><span>3.17</span>Supply and Provisioning Support</li>
	<li><a href="/Strike_Group_Seaport-e_web_-_SoBran_Past_Performance.pdf">Relevant Past Performance</a></li>
</ul>
<ul class="teammember">
	<li><strong>Multi Training Systems, LLC (Black, Woman-Owned SB, Minority Educational Institution)</strong></li>
	<li>26677 West 12 Mile Road, Suite 160</li>
	<li>Southfield, MI 48034-1514</li>
	<li class="underline">Contact:</li>
	<li>Donna Murray Charles</li>
	<li>248-358-6988</li>
	<li>dmcharles@mtsinfo.com</li>
	<li class="underline">Functional Area(s)</li>
	<li><span>3.18</span> Training Support</li>
	<li><a href="/MTS_Capability_3_2013.pdf">Capabilities</a></li>
	<li><a href="/Strike_Group_Seaport-e_web_-_MTS_Past_Performance.pdf">Relevant Past Performance</a></li>
</ul>
<ul class="teammember">
	<li><strong>TCG Consulting, Inc. (Black, Woman (EDWOSB), SDVOSB, 8(a), DB E)</strong></li>
	<li>2221 Peachtree Road, Suite X22</li>
	<li>Atlanta, GA 30309-1106</li>
	<li class="underline">Contact:</li>
	<li>Shawn Cooper</li>
	<li>888-824-8920</li>
	<li>shawn@TCGConsultinginc.com</li>
	<li class="underline">Functional Area(s)</li>
	<li><span>3.22</span>Public Affairs and Multimedia Support</li>
	<li><a href="/Strike_Group_Seaport-e_web_-_TCG_Past_Performance.pdf">Relevant Past Performance</a></li>
</ul>
<ul class="teammember">
	<li><strong>Aspire Consulting Services, LLC (Black, SDVOSB)</strong></li>
	<li>PO Box 6130</li>
	<li>9801 Apollo Drive</li>
	<li>Upper Marlboro, MD 20747-2862</li>
	<li class="underline">Contact:</li>
	<li>Donald J. Duggins</li>
	<li>800-419-6018 Ext - 1</li>
	<li>djduggins@aspire-llc.com</li>
	<li class="underline">Functional Area(s)</li>
	<li><span>3.1</span>Research and Development Support</li>
	<li><span>3.3</span>Modeling, Simulation, Stimulation, and Analysis Support</li>
	<li><span>3.8</span>Human Factors, Performance, and Usability Engineering Support</li>
	<li><span>3.9</span>System Safety Engineering Support</li>
	<li><span>3.11</span>Quality Assurance (QA) Support</li>
	<li><span>3.l6</span>Logistics Support</li>
	<li><span>3.17</span>Supply and Provisioning Support</li>
	<li><span>3.18.1</span>Technical Training Support</li>
	<li><span>3.20</span>Program Support</li>
	<li><a href="/Strike_Group_Seaport-e_web_-_Aspire_Past_Performance.pdf">Relevant Past Performance</a></li>
</ul>
<ul class="teammember">
	<li><strong>ChemicoMays, LLC (Black, VOSB)</strong></li>
	<li>25200 Telegraph Road, Suite 120</li>
	<li>Southfield, MI48033-7497</li>
	<li class="underline">Contact:</li>
	<li>25200 Telegraph Road, Suite 120</li>
	<li>Chad Stackhouse</li>
	<li>248-723-3263</li>
	<li>cstackhouse@chemicomays.com</li>
	<li class="underline">Functional Area(s)</li>
	<li><span>3.16</span>Logistics Support</li>
	<li><span>3.17</span>Supply and Provisioning Support</li>
	<li><span>3.18</span>Training Support</li>
	<li><span>3.20</span> Program Support</li>
	<li><a href="/Strike_Group_Seaport-e_web_-_ChemCo_Past_Performance.pdf">Relevant Past Performance</a></li>
</ul>
<ul class="teammember">
	<li><strong>ARD Logistics, LLC (Black, Large Business)</strong></li>
	<li>3675 Crestwood Parkway, Suite 400</li>
	<li>Duluth, GA 30096-5054</li>
	<li class="underline">Contact:</li>
	<li>Ezra Beard, VP of Business Development</li>
	<li>810-252-5661</li>
	<li>ebeard@ardlogistics.com</li>
	<li class="underline">Functional Area(s)</li>
	<li><span>3.16</span>LogisticsSupport</li>
	<li><span>3.17</span>Supply and Provisioning Support</li>
	<li><span>3.20</span>Program Support</li>
	<li><a href="/Strike_Group_Seaport-e_web_-_ARD_Past_Performance.pdf">Relevant Past Performance</a></li>
</ul>