<!DOCTYPE html>
<html>

<head>
<title>{{ title }} - Strike Group</title>
<meta name="description" content="{{ description }}" />
<meta name="keywords" content="{{ keywords|join(', ') }}" />
<meta name="author" content="Evan Plaice" />
<meta charset="utf-8">
<link rel="stylesheet" href="/reset.css" />
<link rel="stylesheet" href="/base.css" />
{% block feed %}{% endblock -%}
{%- block plugin_css %}{% endblock -%}
{%- block page_css %}{% endblock -%}
{%- block page_style %}{% endblock %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
{% block plugin_js %}{% endblock -%}
{%- block page_js %}{% endblock -%}
{%- block page_script %}{% endblock %}
</head>

<body id=body>

<header id=header>
  <div id=logo>
    <a href="/"><img src='/logo.png' alt='Strike Group Logo' width="220" height="100" /></a>
  </div>
  <nav id=nav class=clearfix>
    {% for link in nav -%}
    <div id='{{ link.uri }}'><a href='{{ link.url }}'><img class=nav_button src='/transparent.png' alt="{{ link.title }}" /></a></div>
    <!--<li id='{{ link.uri }}' class='nav_button'><a href='{{ link.url }}'>{{ link.title }}</a></li>-->
    {% endfor -%}
  </nav>

  {%- if eyecandy %}
  <div id=eyecandy>
    <img src={{ eyecandy }} alt='Eyecandy' />
  </div>{% endif %}
</header>

<section id=content>

<!-- page_content template -->
{%- block page_content %}{% endblock -%}
<!-- end template -->

</section>

<footer id=footer>
  <div id=footer_info>
    Strike Group LLC<br />
    P.O. Box 21954<br />
    Detroit, MI 48221<br />
    313.586.0003<br />
    Lanec@strikegroup.org
  </div>
  <nav id=footer_nav>
    <ul>
      {% for link in nav -%}
      <li><a href='{{ link.url }}'>{{ link.title }}</a></li>
      {% endfor -%}
    </ul>
  </nav>
</footer>

</body>

<script>
  // Google Analytics tracker
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36206055-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</html>
