
{#
{% set nav = (
    {'url':'index', 'name':'About Us', 'width':'126px', 'offset':'0px'},
    {'url':'strategic-sourcing', 'name':'Strategic Sourcing', 'width':'160px', 'offset':'-126px'},
    {'url':'government-projects', 'name':'Government Projects', 'width':'171px', 'offset':'-286px'},
    {'url':'commercial-projects', 'name':'Commercial Projects', 'width':'171px', 'offset':'-457px'},
    {'url':'information-technology', 'name':'Information Technology', 'width':'183px', 'offset':'-628px'},
    {'url':'locations', 'name':'Locations', 'width':'149px', 'offset':'-811px'}
) -%}
#}
<!DOCTYPE html>
<html>

<head>
  <title>{{ title }} - Strike Group</title>
  <meta name="description" content="{{ description }}" />
  <meta name="keywords" content="{{ keywords|join(', ') }}" />
  <meta name="author" content="Evan Plaice" />
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/reset.css" />
  <link rel="stylesheet" type="text/css" href="/base.css" />
  {% block page_css %}{% endblock %}
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script>!window.jQuery && document.write('<script src="jquery-1.7.min.js"><\/script>')</script>
</head>

<body id=body>

<header id=header>
  <figure id=logo>
    <img src='logo.jpg' alt='Strike Group Logo'>
  </figure>
  <nav id=nav>
    <ul>
    {% for link in nav -%}
    <li><a id='{{ link.url }}' href='{{ link.url }}'><img id=nav_button src='transparent.png' /></a></li>
    {% endfor -%}
    </ul>
  </nav>
  <figure id=eyecandy>
    <img src={{ eyecandy }} alt='eyecandy' />
  </figure>
</header>

<section id=content>
{% block content %}{% endblock %}
<h2>This is the body</h2>
<p>Insert some content here</p>
</section>

<footer id=footer>
  <div id=footer_info>
    Strike Group LLC<br />
    313.586.0003<br />
    Lanec@strikegroup.org
  </div>
  <nav id=footer_nav>
    <ul>
    {% for link in nav -%}
    <li><a href='{{ link.url }}'>{{ link.name }}</a></li>
    {% endfor -%}
    </ul>
  </nav>
</footer>

</body>

</html>