<!DOCTYPE html>
<html>

<head>
  <title>{{ title }} - Strike Group</title>
  <meta name="description" content="{{ description }}" />
  <meta name="keywords" content="{{ keywords|join(', ') }}" />
  <meta name="author" content="Evan Plaice" />
  <meta charset="utf-8">
  <link rel="stylesheet" href="/reset.css" />
  <link rel="stylesheet" href="/base.css" />
  {%- block page_css %}{% endblock -%}
  {%- block plugin_css %}{% endblock -%}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
  {%- block plugin_js %}{% endblock -%}
  <style>
  {%- block page_style %}{% endblock -%}
  </style>
</head>

<body id=body>

<header id=header>
  <div id=logo>
    <img src='logo.png' alt='Strike Group Logo' width="220" height="100" />
  </div>
  <nav id=nav>
    {% for link in nav -%}
    <div><a id='{{ link.url }}' href='{{ link.url }}'><img class=nav_button src='transparent.png' alt="{{ link.name}}" /></a></div>
    <!--<li id='{{ link.url }}' class='nav_button'><a href='{{ link.url }}'>{{ link.name }}</a></li>-->
    {% endfor -%}
  </nav>
  <div id=eyecandy>
    <img src={{ eyecandy }} alt='eyecandy' />
  </div>
</header>

<section id=content class=clearfix>
<!-- page_content template -->
{%- block page_content %}{% endblock -%}
<!-- end template -->
</section>

<footer id=footer>
  <div id=footer_info>
    Strike Group LLC<br />
    313.586.0003<br />
    Lanec@strikegroup.org
  </div>
  <nav id=footer_nav>
    <ul>
    {% for link in nav -%}
    <li><a href='{{ link.url }}'>{{ link.name }}</a></li>
    {% endfor -%}
    </ul>
  </nav>
</footer>

</body>

</html>