{% extends '_base.html' %}
{% set eyecandy='eyecandy9.jpg' %}
{% block page_style %}
<style>
#details {
width:65%;
padding-right:15px;
}
#openings {
width:35%;
border-left:1px solid lightgray;
padding:15px;
}

#openings .fancylist li {
  margin-bottom:10px;
}
</style>
{% endblock %}
{% block page_content %}
<section id=main>
  <h2>Careers</h2>
  <hr />
  <section class="description columntable">
    <div id=details class=twocolumncell>
      <p><span style="font-weight:bold;">About Strike Group LLC:</span> Strike Group is a global leader in commodity sourcing, logistics, field service support and warehousing solutions. Our mission is to provide customers with cost-effective, high-quality products and services. Founded in 1998, Strike Group offers innovative solutions tailored specifically to our customers' needs. We market and distribute electrical, masonry products, and building materials, provide sustainment logistics support and field service support solutions to Military, Government, Federal, and commercial customers.</p>
      <p>At Strike Group, our employees are our most valuable resource, enabling us to deliver unparalleled service to our customers. We treat all employees with dignity and respect, and provide tools for long-term success.</p>
      <p>We reward them equitably and offer a highly competitive total compensation program including:</p>
      <ul class=fancylist>
        <li>Industry-competitive salaries</li>
        <li>Medical, dental, and vision insurance</li>
        <li>Life insurance</li>
        <li>Vacations and holidays</li>
      </ul>
      <div style="font-weight:bold">How To Apply</div>
      <hr />
      <h3>Afghanistan</h3>
      <ul class=list>
        <li style="font-style: bold;">All positions are currently filled</li>
      </ul>
      <h3>Ship Rider</h3>
      <ul class=list>
        <li>Download Application: <a href="/Employment_Application_5-5-11.pdf">Application</a></li>
        <li>Submit Application and resume to: <a href="mailto:rsanchez@strikegroup.org">rsanchez@strikegroup.org</a></li>
      </ul>
    </div>
    <div id=openings class=twocolumncell>
      <h2>Ongoing Positions</h2>
      <hr />
      <h4>Afghanistan:</h4>
      <ul class=fancylist>
        <li><a href="/Combat_Camera_Systems_Field_Service_Representative.pdf">Combat Camera Systems Field Service Representative</a></li>
        <li><a href="/Xerox_Combat_Camera_Sytems_Field_Service_Representative.pdf">Xerox Combat Camera Systems Field Service Representative</a></li>
      </ul>
      <br />
      <h4>Ship Rider:</h4>
      <ul class=fancylist>
        <li><a href="/Shiprider_Field_Service_Technician.pdf">Ship Rider Field Service Technician</a></li>
      </ul>
    </div>

  </section>
</section>
{% endblock %}