{% extends '_base.html' %}
{% block page_style %}
<style>
#schools h4 {
padding-left:10px;
padding-right:10px;
}

#schools figcaption {
margin-top:10px;
font-weight:bold;
font-size:medium;
text-align:center;
}

.projectdetails {
padding:15px;
}

.projectdetails div {
font-weight:bold;
color:maroon;
margin-left:10px;
margin-right:10px;
margin-bottom:10px;
}
</style>
{% endblock %}
{% block page_content %}
<section class=columngroup>
  <figure class="twocolumn sublogo" style="width:40%">
    <img src='detroit_public_schools_1.png' alt='Detroit Public Schools Logo' width="187" height="82" />
  </figure>
  <div class="twocolumn subtitle" style="width:55%">
    <br />
    <h1><a href="http://detroitk12.org/">Detroit Public Schools Building Project</a></h1>
  </div>
</section>
<hr />
<section id=introduction class=description>
  <p>Strike Group provided materials and services for the following DPS Schools construction projects.</p>
</section>
<hr />
<section id=schools>
  <div class=columngroup>
    <figure class=twocolumnimage>
      <img src="detroit_public_schools_2.jpg" alt="Martin Luther King Jr. Senior High School" width="434" height="298" />
      <figcaption>Martin Luther King Jr. Senior High School</figcaption>
    </figure>
    <div class=twocolumn>
      <div class=projectdetails>
        <div>Location: 3200 E Lafayette Street</div>
        <div>Project: New Building</div>
        <div>Cost: $46.4 million</div>
        <div>Construction Started: Summer 2010</div>
        <div>Construction Completed: Fall 2011</div>
        <div>Project Activity:<br />Interior masonry, steel and roofing work.</div>
      </div>
    </div>
  </div>
  <hr />
  <div class=columngroup>
    <div class=twocolumn>
      <div class=projectdetails>
        <div>Location: 1500 Scotten Road</div>
        <div>Project: Major Renovation</div>
        <div>Cost: $27.8 million</div>
        <div>Construction Started: Summer 2010</div>
        <div>Construction Completed: Fall 2011</div>
        <div>Project Activity:<br />Phase I classroom renovation underway, roof replacement, concrete foundation for athletic addition.</div>
      </div>
    </div>
    <figure class=twocolumnimage>
      <img src="detroit_public_schools_3.jpg" alt="Western International High School" width="434" height="298" />
      <figcaption>Western International High School</figcaption>
    </figure>
  </div>
  <hr />
  <div class=columngroup>
    <figure class=twocolumnimage>
      <img src="detroit_public_schools_4.jpg" alt="Denby High School" width="434" height="298" />
      <figcaption>Denby High School</figcaption>
    </figure>
    <div class=twocolumn>
      <div class=projectdetails>
        <div>Location: 12800 Kelly Road</div>
        <div>Project: Major Renovation</div>
        <div>Cost: $16.5 million</div>
        <div>Construction Started: Summer 2010</div>
        <div>Construction Completed: Fall 2011</div>
        <div>Project Activity:<br />Auditorium renovation, selective demolition to include smoke stack and fence repair work.</div>
      </div>
    </div>
  </div>
  <hr />
  <div class=columngroup>
    <div class=twocolumn>
      <div class=projectdetails>
        <div>Location: 8145 Puritan Road</div>
        <div>Project: Major Renovation</div>
        <div>Cost: $8.4 million</div>
        <div>Construction Started: Summer 2010</div>
        <div>Construction Completed: Winter 2011</div>
        <div>Project Activity:<br />Renovated parking lot, fence repaired, gym floor and ceramic tile installation.</div>
      </div>
    </div>
    <figure class=twocolumnimage>
      <img src="detroit_public_schools_5.jpg" alt="Bethune-Fitzgerald Elementary School" width="434" height="298" />
      <figcaption>Bethune-Fitzgerald Elementary School</figcaption>
    </figure>
  </div>
</section>
{% endblock %}