{% extends '_base.html' %}
{% block page_content %}
<section class=columngroup>
  <figure class="twocolumnimage sublogo" style="width:25%">
    <img src='dynmcdermott_petroleum_1.png' alt='DynMcDermott Petroleum Company Logo' width="64" height="64" />
  </figure>
  <div class="twocolumn subtitle" style="width:70%;">
    <br />
    <h1><a href="http://www.dynmcdermott.com/">DynMcDermott Petroleum Operations Company</a></h1>
  </div>
</section>
<hr />
<section id=info class=description>
  <p>Strike Group currently provides electrical hardware and supplies to five of DynMcDermott facilities that assist in managing our nation's strategic Petroleum Reserves.</p>
  <h2>What is our Strategic Petroleum Reserve?</h2>
  <p>The 727-million-barrels U.S. Strategic Petroleum Reserve is the largest stockpile of government-owned emergency crude oil in the world.  Established in the aftermath of the 1973-74 oil embargo, the SPR provides the President with a powerful response option should a disruption in commercial oil supplies threaten the U.S. economy. It also allows the United States to meet part of its International Energy Agency obligation to maintain emergency oil stocks, and it provides a national defense fuel reserve.</p>
</section>
<figure>
  <img src="dynmcdermott_petroleum_2.jpg" alt="Petroleum Pipeline Photo" />
</figure>
{% endblock %}