{% extends '_base.html' %}
{% set eyecandy='eyecandy3.jpg' %}
{% block page_style %}
<style>
.row {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
}

.threecolumn h4 {
text-align:center;
}

.listingimage {
width:182px; height:140px;
}

.details {
border-right:1px solid lightgray;
padding-left:25px;
padding-right:25px;
padding-top:10px;
}

.details_last {
border-right:none;
}
</style>
{% endblock %}
{% block page_content %}
  <div class="row">
    <section id="titles" class="columngroup">
      <header id="usmc_title" class="threecolumn">
        <h4>MARINE CORPS</h4>
      </header>
      <header id="dot_title" class="threecolumn">
        <h4>DEPARTMENT OF TRANSPORTATION</h4>
      </header>
      <header id="va_title" class="threecolumn">
        <h4>VETERAN ADMINISTRATION</h4>
      </header>
    </section>
    <section class="images columngroup">
      <div id="usmc_pic" class="threecolumn">
        <figure class="centered">
          <img class="listingimage" src="government_projects_1.jpg" alt="Marine Corps Image" />
        </figure>
      </div>
      <div id="dot_pic" class="threecolumn">
        <figure class="centered">
          <img class="listingimage" src="government_projects_2.jpg" alt="Department of Transportation Image" />
        </figure>
      </div>
      <div id="va_pic" class="threecolumn">
        <figure class="centered">
          <img class="listingimage" src="government_projects_3.jpg" alt="Veteran Administration Image" />
        </figure>
      </div>
    </section>
    <section class="separators columngroup">
      <div class="threecolumn">
        <hr />
      </div>
      <div class="threecolumn">
        <hr />
      </div>
      <div class="threecolumn">
        <hr />
      </div>
    </section>
    <section class="links columntable">
      <div id="usmc_text" class="threecolumncell details">
        <h5>Around the World Logistics</h5>
        <br />
        <p>Strike Group is committed to provide support so Combat Camera and Public Affairs can acquire, manipulate, reproduce, design, develop, archive, retrieve and manage imagery and media acquire in forward-deployed locations throughout the world.</p>
        <h3><a href="/usmc">::READ MORE::</a></h3>
      </div>
      <div id="dot_text" class="threecolumncell details">
        <p>Strike Group has worked on various project for the federal government prime contract to the Department of Transportation</p>
        <p>Listed are some examples of our federal projects:</p>
        <ul class="fancylist">
          <li>Certified with the Georgia DOT</li>
          <li>Dirksen Federal Bld - Chicago</li>
          <li>Amtrak Fiber Optics Project - Indiana</li>
          <li>Chicago Transit Authority - Chicago</li>
          <li>DOT New Orleans, LA
        </ul>
      </div>
      <div id="va_text" class="threecolumncell details details_last">
        <p>Strike Group was proud to work on the Louis Stokes VA Medical Center Project.</p>
        <h3><a href="/louis-stokes-medical">::READ MORE::</a></h3>
      </div>
    </section>
  </div>

  <hr />

  <div class="row">
    <section class="titles columngroup">
      <header id="doe_title" class="threecolumn">
        <h4>DEPARTMENT OF ENERGY</h4>
      </header>
      <header id="l3_title" class="threecolumn">
        <h4>L-3 COMMUNICATIONS</h4>
      </header>
      <header id="navy_title" class="threecolumn">
        <h4>Navy Shiprider Miltipurpose Copier Program</h4>
      </header>
    </section>
    <section class="pics columngroup">
      <div id="doe_pic" class="threecolumn">
        <figure class="centered">
          <img class="listingimage" src="government_projects_4.jpg" alt="Department of Energy Image" />
        </figure>
      </div>
      <div id="l3_pic" class="threecolumn">
        <figure class="centered">
          <img class="listingimage" src="government_projects_5.png" alt="L3 Communications Image" />
        </figure>
      </div>
      <div id="navy_pic" class="threecolumn">
        <figure class="centered">
          <img class="listingimage" src="government_projects_6.png" alt="L3 Navy SCP Program Image" />
        </figure>
      </div>
    </section>
    <section class="separators columngroup">
      <div class="threecolumn">
        <hr />
      </div>
      <div class="threecolumn">
        <hr />
      </div>
      <div class="threecolumn">
        <hr />
      </div>
    </section>
    <section class="links columntable">
      <div id="doe_text" class="threecolumncell details">
        <h5>DynMcDermott Petroleum Operations Company</h5>
        <br />
        <p>Strike Group has provided electrical hardware and supplies to five of DynMcDermott facilities that assist in managing our nation's strategic Petroleum Reserves.</p>
        <h3><a href="/dynmcdermott-petroleum">::READ MORE::</a></h3>
      </div>
      <div id="l3_text" class="threecolumncell details">
        <h5>Platform Integration Division</h5>
        <br />
        <p>L-3 Integrated Systems Group is the most capable and dependable aircraft modernization and mission systems integration company in the world. We are recognized internationally as a systems integration organization specializing in the study, design, development, and integration of mission systems, and the modernization and maintenance of aircraft.</p>
        <h3><a href="http://www2.l-3com.com/is/waco/index.html">::READ MORE::</a>
      </div>
      <div id="l3_text" class="threecolumncell details details_last">
        <p>An Agreement was made between Xerox Corporation and Strike Group, LLC, for Strike Group to provide services for the Navy’s Shipboard Multipurpose Copier Program (SMCP), commonly know as the “Ship Rider Program”.</p>
        <h3><a href="/shiprider-program">::READ MORE::</a>
      </div>
    </section>
  </div>

{% endblock %}