{% extends '_base.html' %}
{% block page_content %}
<section class=columngroup>
  <figure class="twocolumnimage sublogo" style="width:25%">
    <img src='/gulfport_biloxi_1.jpg' alt='Gulfport-Biloxi International Airport Logo' width="64" height="64" />
  </figure>
  <div class="twocolumn subtitle" style="width:70%">
    <h1>Gulfport-Biloxi International Airport, Terminal Building Expansion, Gulfport, Mississippi</h1>
  </div>
</section>
<hr />
<section id=info class=description>
  <p>Gulfport-Biloxi International Airport has completed a five-year expansion program which has affected the terminal building, the runways and the taxiway areas. Strike Group supported the expansion program by providing runway lighting.</p>
</section>
<hr />
<figure>
  <img src="/gulfport_biloxi_2.jpg" alt="Gulfport-Biloxi International Airport Photo" width="920" height="570" />
</figure>
{% endblock %}