{% extends '_base.html' %}
{% set eyecandy='eyecandy5.jpg' %}
{% block page_style %}
<style>
#details p {
margin-left:10px;
margin-right:10px;
}
</style>
{% endblock %}
{% block page_content %}
<section id=introduction class=description>
  <p><span style="font-weight:bold;">Strike Group</span> has partnered with <a href="http://www.weglobalit.com/">Weldon Enterprise Global IT</a> a provider of IT Managed Services, Technical Staffing and Non Technical Staffing. Weldon Enterprise Global IT specializes in distinguished and insightful approaches to providing support to Fortune 500 corporations, Public Sector and Federal Agencies.</p>
  <p>Weldon Enterprise Global ITs accomplished representatives, state-of-the-art systems structure and pledge of excellence allow us to provide our clients with solutions that reduce their costs while optimizing their operational efficiencies. We also provide administrative and financial service and support.</p>
</section>

<section id=details class=columngroup>
  <div class=twocolumn style="width:75%">
    <h4>IT Managed Services</h4>
    <p>Weldon Enterprise Global IT concentrates on your information technology systems while you center on providing your foundational services. Its experienced IT staff will work with you to develop an efficient and cost-effective solution to meet your objectives.</p>
    <h4>Technical Staffing</h4>
    <p>Weldon Enterprise Global IT is a technical staffing service. Its professional recruiters understand the latest industry progression and engage the best talent available, which allows us to deliver exceptional IT professionals without delay.</p>
    <h4>Non Technical Staffing</h4>
    <p>Weldon Enterprise Global IT as a leading outsourcing staffing company also provides services with the capabilities to support: Clerical/Admin, Finance/Accounting and HR.</p>
  </div>
  <div class=twocolumn style="width:25%">
    <figure>
      <img src="information_technology_1.png" alt="stock photo" style="margin-top:25px; border:none;" />
    </figure>
  </div>
</section>
{% endblock %}