{% extends '_base.html' %}
{% block page_content %}
<section class=columngroup>
  <figure class="twocolumn sublogo" style="width:45%">
    <img src='kitting_capabilities_1.png' alt='Key Logistics Solutions LLC. Logo' width="192" height="64" />
  </figure>
  <div class="twocolumn subtitle" style="width:50%">
    <br />
    <h1><a href="http://www.keylogistics.com/index.html">Supply Chain Services</a></h1>
  </div>
</section>
<hr />
<section id=images class=columngroup style="margin-bottom:15px;">
  <figure class=threecolumnimage>
    <img src="kitting_capabilities_2.jpg" alt="Warehouse Dock Photo" width="280" height="185" />
  </figure>
  <figure class=threecolumnimage>
    <img src="kitting_capabilities_3.jpg" alt="Warehouse Aisles Photo" width="280" height="185" />
  </figure>
  <figure class=threecolumnimage>
    <img src="kitting_capabilities_4.jpg" alt="Shop Photo" width="280" height="185" />
  </figure>
</section>
<section id=info class=description>
  <p>Strike Group provides a variety of supply chain services including warehousing, inventory management, transportation, delivery, sequencing, and light assembly work.</p>
  <p>Strike Group currently provides sequencing services to Bombardier Mass Transit division for assembly of the Chicago Transit Authority (CTA).</p>
  <h3>Plattsburg, NY 80,000 Sq Ft</h3>
  <ul class=fancylist>
    <li>Warehouse Management</li>
    <li>Kitting via Daily Pick Signals</li>
    <li>Teaming Relationship with Key Logistics</li>
    <li>Associates - 24</li>
    <li>SKUs - 45,000</li>
    <li>Hours 06:30 to 23:00</li>
  </ul>
</section>
{% endblock %}