{% extends '_base.html' %}
{% set eyecandy='eyecandy2.jpg' %}
{% block page_style %}
<style>
#listing {
padding-left:15px;
padding-right:15px;
}
#listing div {
margin-bottom:10px;
}
h3 {
margin-bottom:10px;
}
</style>
{% endblock %}
{% block page_content %}
<div id=listing class=columntable>
  <section class=threecolumncell>
    <h5>Ballasts</h5>
    <ul class=linklist>
      <li><a href="http://www.advancetransformer.com/default.asp">Advance</a></li>
      <li><a href="http://www.magnetek.com/">GE Magnetek</a></li>
    </ul>
    <h5>Batteries & Flashlights</h5>
    <ul class=linklist>
      <li><a href="http://www.flashlight.com/">Bright Star</a></li>
      <li><a href="http://www.eveready.com/">Eveready</a></li>
      <li><a href="http://www.light-source.com/gebatteries.html">GE Sanyo</a></li>
      <li><a href="http://www.maglite.com/">Maglite</a></li>
      <li><a href="http://www.rayovac.com/">Ray-O-Vac</a></li>
    </ul>
    <h5>Boxes/PVC</h5>
    <ul class=linklist>
      <li>Cantex</li>
      <li><a href="http://www.racoindustries.com/">RACO</a></li>
      <li><a href="http://tnbelectricalworld.tnb.com/contractor/docs/bowers.pdf">T&B Bowers</a></li>
    </ul>
    <h5>Boxes/Steel</h5>
    <ul class=linklist>
      <li><a href="http://www.appletonelec.com/">Appleton</a></li>
      <li><a href="http://www.racoindustries.com/">RACO</a></li>
      <li><a href="http://www.tnb.com/">T&B Steel City</a></li>
    </ul>
    <h5>Cable Tray, Strut, Channel & Raceway</h5>
    <ul class=linklist>
      <li><a href="http://www.b-line.com/">Cooper B-Line</a></li>
      <li><a href="http://www.tnb.com/">Kindorf</a></li>
      <li>Power Strut</li>
      <li><a href="http://www.tnb.com/">Superstrut</a></li>
      <li><a href="http://www.tnb.com/">T&B/Blackburn</a></li>
      <li><a href="http://www.tjcope.com/">TJ Cope</a></li>
      <li><a href="http://www.unistrut.com/">Uni Strut</a></li>
      <li>Walker</li>
      <li><a href="http://www.wiremold.com/">Wiremold</a></li>
    </ul>
    <h5>Chimes</h5>
    <ul class=linklist>
      <li>Berko</li>
      <li><a href="http://www.broan.com/">Broan</a></li>
      <li><a href="http://www.nutone.com/">Nutone</a></li>
      <li><a href="http://www.usielectric.com/">USI</a></li>
    </ul>
    <h5>Conduit Bodies & Cast Boxes</h5>
    <ul class=linklist>
      <li><a href="http://www.appletonelec.com/">Appleton</a></li>
      <li><a href="http://www.crouse-hinds.com/">Crouse-Hinds</a></li>
      <li><a href="http://www.crouse-hinds.com/" style="margin-left:10px;">Halo</a></li>
      <li><a href="http://www.crouse-hinds.com/" style="margin-left:10px;">Metalux</a></li>
      <li><a href="http://www.hubbell.com/business.htm">Killark</a></li>
      <li><a href="http://www.o-zgedney.com/">O-Z/Gedney</a></li>
      <li>Red Dot</li>
    </ul>
    <h5>Conduit Products</h5>
    <h5>Conduit Products: Aluminum</h5>
    <ul class=linklist>
      <li>INDALUX</li>
    </ul>
    <h5>Conduit Products: Coated</h5>
    <ul class=linklist>
      <li>OCAL</li>
      <li><a href="http://www.robroy.com/">Robroy</a></li>
    </ul>
    <h5>Conduit Products: Couplings</h5>
    <h5>Conduit Products: Elbows</h5>
    <h5>Conduit Products: Elbows-Couplings-Nipples</h5>
    <ul class=linklist>
      <li>Conduit Pipe Products</li>
      <li><a href="http://www.beckmfg.com/aboutpic.htm">Picoma</a></li>
      <li>Shamrock</li>
      <li><a href="http://www.wheatland.com/electric.htm">Wheatland</a></li>
    </ul>
    <h5>Conduit Products: Liquid Tight & Flex</h5>
    <ul class=linklist>
      <li><a href="http://www.afcweb.com/">AFC</a></li>
      <li><a href="http://www.alflex.com/">Alflex</a></li>
      <li>Anamet</li>
      <li>Kaf-Tech</li>
      <li><a href="http://www.nexansenergy.com/">Nexan Energy</a></li>
    </ul>
    <h5>Conduit Products: Nipples</h5>
    <h5>Conduit Products: PVC</h5>
    <ul class=linklist>
      <li>Cantex</li>
      <li>Carlon</li>
      <li>Georgia Pipe</li>
      <li>IPEX/Kraylon/Scepter</li>
      <li><a href="http://www.jmpipe.com/">JM Mfg.</a></li>
      <li>LCP/National Pipe</li>
      <li>P.W. Pipe</li>
    </ul>
    <h5>Conduit Products: Steel</h5>
    <ul class=linklist>
      <li><a href="http://www.alliedtube.com/">Allied</a></li>
      <li><a href="http://www.ltvsteel.com/">LTV</a></li>
      <li><a href="http://www.westerntube.com/index.html">Western</a></li>
      <li><a href="http://www.wheatland.com/wtchp.htm">Wheatland</a></li>
    </ul>
    <h5>Controls</h5>
    <h5>Controls: Factory Information Systems</h5>
    <ul class=linklist>
      <li><a href="http://www.gefanuc.com/index.asp">GE Fanuc</a></li>
    </ul>
    <h3>Rockwell Automation</h3>
    <h3>Allen Bradley (AB)</h3>
    <h5>Controls: Motion Control</h5>
    <ul class=linklist>
      <li><a href="http://www.deltatau.com/">Delta Tau</a></li>
      <li><a href="http://www.gefanuc.com/index.asp">GE Fanuc</a></li>
    </ul>
    <h3>Rockwell Automation</h3>
    <h3>Allen Bradley (AB)</h3>
    <ul class=linklist>
      <li>Koll Morgan</li>
      <li><a href="http://www.pacsci.com/">Pacific Scientific</a></li>
    <h5>Controls: Motor Controls, Relays, Pushbuttons</h5>
    <ul class=linklist>
      <li><a href="http://www.geindustrial.com/geip/GEIPersEntry">GE Industrual Systems (ED&C)</a></li>
    </ul>
    <h3>Rockwell Automation</h3>
    <h3>Allen Bradley (AB)</h3>
    <h5>Controls: Programmable Control Peripherals</h5>
    <ul class=linklist>
      <li><a href="http://www.mmm.com/">3M Fiber Optics</a></li>
      <li><a href="http://www.gefanuc.com/index.asp">GE Fanuc</a></li>
      <li><a href="http://www.heapg.com/">Horner Electric</a></li>
      <li><a href="http://www.kep.com/">Kessler-Ellis Products (KEP)</a></li>
      <li><a href="http://www.maple-systems.com/">Maple Systems</a></li>
      <li>Phoenix Digital</li>
      <li><a href="http://www.total-control.com/">Total Control Products</a></li>
      <li>VME Microsystems</li>
      <li><a href="http://www.xycom.com/">Xycom</a></li>
    </ul>
    <h5>Controls: Programmable Logic Controllers (PLCs)</h5>
    <ul class=linklist>
      <li><a href="http://www.gefanuc.com/index.asp">GE Fanuc</a></li>
    </ul>
  </section>
  <section class=threecolumncell>
    <h5>Controls: Sensors</h5>
    <ul class=linklist>
      <li>MICRO Switch</li>
      <li>Pepperl & Fuchs</li>
    </ul>
    <h5>Controls: Vision Systems</h5>
    <ul class=linklist>
      <li>Itran</li>
    </ul>
    <h5>Dimmers, Dimming Systems</h5>
    <ul class=linklist>
      <li><a href="http://www.intermatic.com/">Intermatic</a></li>
      <li><a href="http://www.lutron.com/">Lutron</a></li>
      <li>Pass & Seymour</li>
    </ul>
    <h5>Distribution Equipment</h5>
    <h5>Distribution Equipment: Load Centers, Circuit Breakers, Safety Switches, Switchboards, Panelboards</h5>
    <ul class=linklist>
      <li>GE Industrial Systems (ED&C)</li>
      <li>GE Zenith Controls</li>
      <li>Cutler Hammer</li>
    </ul>
    <h5>Enclosures</h5>
    <ul class=linklist>
      <li>Austin</li>
      <li>Cooper/B-line (Circle AW)</li>
      <li>Rittal</li>
      <li>Stahlin</li>
      <li>Weigmann</li>
    </ul>
    <h5>Fans</h5>
    <ul class=linklist>
      <li>Berko</li>
      <li><a href="http://www.broan.com/">Broan</li>
      <li>Jan-Fan</li>
      <li><a href="http://www.nutone.com/">Nutone</a></li>
    </ul>
    <h5>Fasteners</h5>
    <ul class=linklist>
      <li><a href="http://www.erico.com/">Caddy</a></li>
      <li><a href="http://www.b-line.com/">Cooper B-Line</a></li>
      <li>L.L. Dottie</li>
      <li>Metallics</li>
    </ul>
    <h5>Fittings</h5>
    <ul class=linklist>
      <li><a href="http://www.appletonelec.com/">Appleton</a></li>
      <li>Arlington</li>
      <li><a href="http://www.bptfittings.com/">Bridgeport</a></li>
      <li>Neer</li>
      <li><a href="http://www.o-zgedney.com/">O-Z/Gedney</a></li>
      <li><a href="http://www.racoindustries.com/">RACO</a></li>
      <li>Red Dot</li>
      <li>Regal</li>
      <li><a href="http://www.tnb.com/">T&B/Blackburn</a></li>
    </ul>
    <h5>Fuses</h5>
    <ul class=linklist>
      <li><a href="http://www.bussmann.com/">Bussmann</a></li>
      <li><a href="http://www.ferrazshawmut.com/">Ferraz Shawmut</a></li>
      <li><a href="http://www.ge.com/industrialsystems/cpo/fuses.htm">GE (Medium Voltage)</a></li>
      <li><a href="http://www.littelfuse.com/">Littelfuse</a></li>
    </ul>
    <h5>IEC Products</h5>
    <ul class=linklist>
      <li><a href="http://www.gesupply.com/images/email/special/linecard_iec.pdf">IEC Line Card</a></li>
    </ul>
    <h5>Industrial Heating</h5>
    <ul class=linklist>
      <li>Wellman</li>
    </ul>
    <h5>Lamps</h5>
    <ul class=linklist>
      <li><a href="http://www.ge.com/lighting">GE Lamp</a></li>
    </ul>
    <h5>Lighting & Fixtures</h5>
    <ul class=linklist>
      <li>Capri/Omega/McPhilbe</li>
      <li><a href="http://www.columbia-ltg.com/">Columbia</a></li>
      <li><a href="http://www.cooperlighting.com/">Cooper Lighting</a></li>
      <li>Crescent</li>
      <li><a href="http://www.crouse-hinds.com/">Crouse-Hinds</a></li>
      <li><a href="http://www.crouse-hinds.com/" style="margin-left:10px;">Halo</a></li>
      <li><a href="http://www.crouse-hinds.com/" style="margin-left:10px;">Metalux</a></li>
      <li>Day-Brite</li>
      <li><a href="http://www.dual-lite.com/">Dual Lite</a></li>
      <li><a href="http://www.ge.com/lightingsystems">GE Lighting Systems</a></li>
      <li><a href="http://www.hubbell-ltg.com/">Hubbell</a></li>
      <li><a href="http://www.lca.net/">Lighting Corporation of America</a></li>
      <li><a href="http://www.lightolier.com/">Lightolier</a></li>
      <li><a href="http://www.lithonia.com/">Lithonia</a></li>
      <li>McGill</li>
      <li>Moldcast</li>
      <li>Prescolite</li>
      <li><a href="http://data.progresslighting.com/tmpl/overview.tmpl">Progress</a></li>
      <li>Stonco</li>
    </ul>
    <h5>Lighting Accessories</h5>
    <ul class=linklist>
      <li>McGill</li>
      <li><a href="http://www.novitas.com/">Novitas</a></li>
      <li><a href="http://www.wattstopper.com/cgi-bin/2/webc.cgi/home.hm!">Wattstopper</a></li>
      <li>Woodhead Industries, Inc.</li>
    </ul>
    <h5>Lighting Fixtures</h5>
    <h5>Lugs</h5>
    <ul class=linklist>
      <li>Anderson</li>
      <li><a href="http://www.burndy.com/">Burndy</a></li>
      <li><a href="http://www.ilsco.com/">ILSCO</a></li>
      <li><a href="http://www.nsicorp.com/">NSI</a></li>
      <li><a href="http://www.tnb.com/">T&B/Blackburn</a></li>
    </ul>
    <h5>Meters & Instruments</h5>
    <ul class=linklist>
      <li>Fluke</li>
      <li>Greenlee</li>
      <li>IDEAL/Sperry</li>
      <li>Transcat</li>
      <li>Yokogawa</li>
    </ul>
    <h5>Motors & Drives (AC & DC)</h5>
    <ul class=linklist>
      <li>Carbon Brushes</li>
      <li><a href="http://www.geindustrial.com/">GE Drives</a></li>
      <li><a href="http://www.geindustrial.com/">GE Motors</a></li>
      <li>Inpro/Seal</li>
      <li>Lake Shore</li>
      <li>TCI</li>
    </ul>
    <h5>Power Conditioning, UPS & Surge Protectors</h5>
    <ul class=linklist>
      <li>EFI</li>
      <li><a href="http://www.intermatic.com/">Intermatic</a></li>
      <li>Sola/Hevi-Duty</li>
      <li><a href="http://www.toshiba.com/">Toshiba</a></li>
      <li>Transtector</li>
      <li><a href="http://www.tripplite.com/">Tripp Lite</a></li>
      <li><a href="http://www.wiremold.com/">Wiremold</a></li>
    </ul>
  </section>
  <section class=threecolumncell>
    <h5>Renewal Parts</h5>
    <ul class=linklist>
      <li><a href="http://www.ge.com/gess">GE Parts Supercenter</a></li>
    </ul>
    <h5>Signaling</h5>
    <h5>Signaling/Smoke Detectors</h5>
    <ul class=linklist>
      <li>BRK</li>
      <li>Edwards</li>
      <li>Federal Signal</li>
      <li>Fyrenetics</li>
      <li>Maple Chase</li>
      <li><a href="http://www.usielectric.com/">USI</a></li>
    </ul>
    <h5>Silicones, Sealants & Paints</h5>
    <ul class=linklist>
      <li><a href="http://www.crcindustries.com/">CRC</a></li>
      <li><a href="http://www.ge.com/silicones">GE Silicones</a></li>
      <li>Glyptal</li>
      <li>Novagard/Foamseal</li>
    </ul>
    <h5>Terminal Blocks</h5>
    <ul class=linklist>
      <li>Buchanan</li>
      <li><a href="http://www.geindustrial.com/geip/GEIPersEntry">GE Industrial Systems (ED&C)</a></li>
      <li>Gould Taylor</li>
      <li>Marathon</li>
      <li>Molex</li>
    </ul>
    <h5>Timers & Photoelectric Controls</h5>
    <ul class=linklist>
      <li>ALR</li>
      <li>GE Grasslin Controls</li>
      <li><a href="http://www.intermatic.com/">Intermatic</a></li>
      <li>Paragon</li>
      <li>Tork</li>
    </ul>
    <h5>Tools & Testers</h5>
    <ul class=linklist>
      <li><a href="http://www.mmm.com/">3M</a></li>
      <li><a href="http://www.greenlee.textron.com/">Greenlee</a></li>
      <li><a href="http://www.idealindustries.com/">IDEAL</a></li>
      <li><a href="http://www.klein-tools.com/">Klein</a></li>
      <li><a href="http://www.mil-electric-tool.com/">Milwaukee</a></li>
      <li>SOG</li>
      <li><a href="http://www.stanleyworks.com/">Stanley Electrical Products</a></li>
    </ul>
    <h5>Transformers Dry Type, Power Conditioning Equipment, Substation, Distribution</h5>
    <ul class=linklist>
      <li><a href="http://www.geindustrial.com/geip/GEIPersEntry">GE Industrial Systems (ED&C)</a></li>
      <li>GE Transformer</li>
    </ul>
    <h5>Voice & Data</h5>
    <ul class=linklist>
      <li><a href="http://www.ampnetconnect.com/">AMP</a></li>
      <li>APW</li>
      <li><a href="http://www.avaya.com/">AVAYA</a></li>
      <li>Agilent Technologies</li>
      <li><a href="http://www.berktek.com/">Berk-Tek</a></li>
      <li>Carlon</li>
      <li><a href="http://www.commscope.com/">Comm Scope</a></li>
      <li><a href="http://www.b-line.com/">Cooper B-Line</a></li>
      <li>General Cable</li>
      <li>Great Lakes</li>
      <li><a href="http://www.hp.com/">Hewlett Packard</a></li>
      <li>Hitachi</li>
      <li><a href="http://www.mohawk-cdt.com/">Mohawk/CDT</a></li>
      <li><a href="http://www.occfiber.com/">Optical Cable</a></li>
      <li>Ortronics</li>
      <li><a href="http://www.panduit.com/">Panduit</a></li>
      <li><a href="http://www.siemon.com/">Siemons</a></li>
      <li>Superior Essex</li>
    </ul>
    <h5>Wire & Cable Accessories</h5>
    <ul class=linklist>
      <li><a href="http://www.mmm.com/">3M</a></li>
      <li>Blackburn</li>
      <li>Bryant Pulling Grips</li>
      <li>Buchanan</li>
      <li><a href="http://www.burndy.com/">Burndy</a></li>
      <li>Eritech/Erico</li>
      <li><a href="http://www.greenlee.textron.com/">Greenlee</a></li>
      <li><a href="http://www.idealindustries.com/">IDEAL</a></li>
      <li><a href="http://www.panduit.com/">Panduit</a></li>
      <li><a href="http://www.tnb.com/">T&B/Blackburn</a></li>
    </ul>
    <h5>Wire & Cable Power & Control Cable, Building Wire & Cord</h5>
    <ul class=linklist>
      <li>AETNA</li>
      <li>AIW</li>
      <li>Alcan</li>
      <li>CME</li>
      <li><a href="http://www.generalcable.com/">Carol</a></li>
      <li>Cerro/Circle</li>
      <li>Coleman Cable</li>
      <li>Colonial</li>
      <li><a href="http://www.encorewire.com/">Encore</a></li>
      <li><a href="http://www.essexgroup.com/">Essex</a></li>
      <li>General Cable</li>
      <li><a href="http://www.futronix.com/">HWC</a></li>
      <li>Nexans Energy</li>
      <li>Pirelli</li>
      <li><a href="http://www.romecable.com/">Rome</a></li>
      <li>Senator</li>
      <li>Southwire</li>
      <li>United Cooper</li>
    </ul>
    <h5>Wiring Devices</h5>
    <ul class=linklist>
      <li>Aero-Motive Co.</li>
      <li><a href="http://www.passandseymour.com/">Pass and Seymour</a></li>
      <li><a href="http://www.ge.com/industrialsystems/panelboards/catalog/tlc-main/index.htm">Total Lighting Control</a></li>
      <li>Woodhead Industries, Inc.</li>
    </ul>
  </section>
</div>
{% endblock %}