{% extends '_base.html' %}
{% set eyecandy='eyecandy7.jpg' %}
{% block page_style %}
<style>
figcaption {
text-align:center;"
}

h1 {
color:maroon;
}
</style>
{% endblock %}
{% block page_content %}
<section id=afghanistan class=columngroup>
  <div>
    <h1>Strike Group in Support of USMC Combat Camera</h1>
  </div>
  <hr />
  <div class=description>
      <p>Strike Group has two contracts with the Marine Corps to support Marine Corps Combat Camera (COMCAM) and Public Affairs (PA) units in the continental U.S., overseas and in Afghanistan. Strike Group provides support for still/video, Tactical Imagery Production Systems and Xerox high capacity printers/duplicating systems.</p>
      <p>For access to the Monthly USMC Combat Camera Newsletter <a href="/usmc-newsletter">click here</a>.</p>
  </div>
  <div class="twocolumn description">
    <hr />
    <p>Strike Group provides; Logistics, Serialized Inventory Management, Trend Analysis, Warranty Repair Management, Preventive Maintenance, Intermediate Training, New Equipment Training, Document Control and Customer Service to support Marine Corps Systems Command, 1st, 2nd, 3rd, and 4th Marine Divisions (MARDIV), 1st, 2nd, 3rd, Marine Air Wings (MAW), I,II,II, Marine Expeditionary Forces (MEF), Marine Logistics Groups (MLG), I,II,III Marine Corps Forces Pacific (MARFORPAC) and Reserves (MARFORRESS).</p>
    <hr />
    <h2>Marine Corps Systems Command (MCSC) Contract</h2>
    <br />
    <p>MCSC procures and issues state-of-the-art still/video Camera Systems, and Tactical Imagery Production Systems (TIPS) to each major subordinate command and designated COMCAM/PA units world-wide in support of Global War On Terror and other operations.</p>
    <p>COMCAM/PA camera systems are used to acquire digital imagery of important real world operations, and essential training conducted by the United States Marine Corps, Joint Forces and allies. Imagery is archived in Department of Defense (DoD) repositories for tactical, historical and operational use.</p>
    <h3>COMCAM/PA Support:</h3>
    <ul class=fancylist>
      <li>Life Cycle Management of COMCAM/PA Camera Systems</li>
      <li>New Equipment and Preventative Maintenance Training</li>
      <li>Remedial Combat Camera System Training</li>
      <li>Equipment Trends Analysis</li>
      <li>Spares Management</li>
      <li>Web-Based Serialized Inventory</li>
      <li>Warranty Repair Work Order Requests</li>
      <li>Shipping and tracking</li>
    </ul>
    <h3>TIPS support:</h3>
    <ul class=fancylist>
      <li>Internal/External Structure PM and Repair</li>
      <li>Internal Production Equipment and Multimedia Racks PM/Repair and Operation</li>
      <li>Setup/Tear Down/Start-up Training</li>
      <li>Environmental Control Units and Generator Operator Checks and Remedial Training</li>
    </ul>
    <br />
    <p>Offices that provide a full range of services for the MCSC contract are located in: Camp Lejeune, NC; Camp Pendleton, CA; Okinawa, Japan; and the Head Government Business Office is in Woodbridge Virginia.</p>

    <figure class=centered style="width:420px">
      <img src="usmc_4.png" alt="TIPS Deployed at MCAS Miramar" width="420" />
      <figcaption>Official USMC Photo</figcaption>
    </figure>
  </div>
  <div class=twocolumnimage style="width:45%;">
    <figure style="width:420px; margin-bottom:57px">
      <img src="usmc_1.jpg" alt="Recording Video of the Locals" width="420" />
      <figcaption>Official USMC Photo</figcaption>
    </figure>
    <figure style="width:420px; margin-bottom:57px">
      <img src="usmc_2.jpg" alt="Capturing a Still Photo of a Marine on Patrol" width="420" />
      <figcaption>Official USMC Photo</figcaption>
    </figure>
    <figure style="width:420px">
      <img src="usmc_3.jpg" alt="USMC-ComCam Website" width="420" />
      <figcaption><h3>Web Based Asset Tracking/Repair Management</h3></figcaption>
    </figure>
  </div>
</section>
<hr />
<section id=campleatherneck>
  <h1 style="text-align:center;">Strike Group in Camp Leatherneck</h1>
  <br />
  <br />
  <div class=columngroup>
    <div class=twocolumnimage width="45%">
      <figure style="width:420px; margin-bottom:30px">
        <img src="usmc_5.jpg" alt="TIPS Deployed in Camp Leatherneck" width="420" />
      </figure>
      <figure style="width:420px; margin-bottom:30px">
        <img src="usmc_6.jpg" alt="Multimedia Shelter Interior" width="420" />
      </figure>
      <figure style="width:420px">
        <img src="usmc_7.jpg" alt="Xerox Reproduction Maintenance" width="420" />
      </figure>
    </div>
    <div class=twocolumn>
      <h2>First Marine Division Contract</h2>
      <hr />
      <p>Strike Group was awarded a four year contract by the Marine Corps 1st Marine Division on 14 May, 2011 to provide sustainment logistics support for three TIPS in Afghanistan that includes combat camera still/video systems and Xerox high capacity printers/duplicators. Four Field Support Representatives (FSR), were hired to provide full-time technical support in Afghanistan.</p>
      <p>TIPS contain high capacity Xerox printers/duplicators that are used extensively by units. FSRs are Xerox trained technicians responsible for performing all tasks required to maintain equipment to a high level of operation/production. FSRs conduct PM, repairs, spares management, consumables inventory/storage, tracking, accountability, equipment inventory and equipment usage reports.</p>
      <p>TIPS also contain digital still/video and graphics multi-media production stations and assigned hand held still/video camera systems that require the same full service as on the MCSC contract. FSRs work closely with FSRs in CONUS to ensure all equipment is shipped and repaired in the most expedient manner.</p>
      <p>Strike Group boasts a close relationship with Xerox by working as a team to support Marine Corps Combat Camera units in Camp Leatherneck. Xerox trained FSRs provide the best support available to maintain equipment to full operating capability to support operations in Afghanistan.</p>
      <figure class=centered style="width:420px">
        <img src="usmc_8.jpg" alt="Xerox Logo" width="300" style="border:none;" />
      </figure>
      <br />
      <figure class=centered style="width:420px">
        <img src="usmc_9.jpg" alt="TIPS Instruction" width="420" />
      </figure>
    </div>
  </div>
  <h2 style="text-align:center;margin:20px 0 20px 0;">Marine Corps Combat Camera Photos from Afghanistan</h2>
  <figure style="margin-bottom:20px;">
    <img src="eyecandy8.jpg" alt='Eyecandy' style="width:90%" />
  </figure>
  <div class=columngroup>
    <figure class=threecolumnimage>
      <img src="usmc_10.jpg" alt="Camp Leatherneck FSRs" width="312" />
      <figcaption>Camp Leatherneck FSRs</figcaption>
    </figure>
    <figure class=threecolumnimage>
      <img src="usmc_11.jpg" alt="Helocopter Offloading" width="312" />
      <figcaption><h3>Official USMC Photo</h3></figcaption>
    </figure>
        <figure class=threecolumnimage>
      <img src="usmc_12.jpg" alt="Combat Camera Photographer" width="312" />
      <figcaption>Official USMC Photo</figcaption>
    </figure>
  </div>
  <br />
  <div class=columngroup>
        <figure class=threecolumnimage>
      <img src="usmc_13.jpg" alt="Working in the TIPS" width="312" />
      <figcaption><h3>TIPS in use - Camp Leatherneck</h3></figcaption>
    </figure>
    <figure class=threecolumnimage>
      <img src="usmc_14.jpg" alt="FSR Working on Multi-Media Rack" width="312" />
      <figcaption><h3>FSR Working on Multi-Media Rack</h3></figcaption>
    </figure>
        <figure class=threecolumnimage>
      <img src="usmc_15.jpg" alt="Marine Aiming a Rifle" width="312" />
      <figcaption>Official USMC Photo</figcaption>
    </figure>

  </div>
</section>
{% endblock %}